.tts-play {
    background: url(../images/icon_play.png) no-repeat center center;
}
.tts-stop {
    background: url(../images/icon_stop.png) no-repeat center center;
}

.zarafa-texttospeech-settings-infopanel {
    margin-bottom: 9px;
}
.zarafa-texttospeech-settings-infopanel p {
    margin-bottom: 1em;
}
.zarafa-texttospeech-settings-infopanel p:last-of-type {
    margin-bottom: 0;
}

.zarafa-texttospeechplugin-settingswidgetvoices-name {
    min-width: 150px;
}
